<h1><TMPL_VAR NAME=T::BASIC.HEADING_BASICSETTINGS></h1>
<TMPL_VAR frmStart>
<table class="formtable" border="0" width="100%">
	<tr>
	<td width="25%">
		<label id="lblPluginName"><TMPL_VAR lblPluginName></label>
	</td>
	<td width="50%">
		  <TMPL_VAR txtPluginName>
	</td>
	<td width="25%">
		&nbsp;
	</td>
</tr>
<tr>
	<td width="25%">
		<label id="lblPluginFolder"><TMPL_VAR lblPluginFolder></label>
	</td>
	<td width="50%">
		<TMPL_VAR txtPluginFolder>
	</td>
	<td width="25%">
		&nbsp;
	</td>
</tr>
<tr>
	<td width="25%">
		<label id="lblPluginURL"><TMPL_VAR lblPluginURL></label>
	</td>
	<td width="50%">
		 <TMPL_VAR txtPluginURL>
	</td>
	<td width="25%">
		&nbsp;
	</td>
</tr>
<tr>
	<td width="25%">
		<label id="lblPluginIcon"><TMPL_VAR lblPluginIcon></label>
	</td>
	<td width="50%">
		 <TMPL_VAR btnUploadIcon>
	</td>
	<td width="25%">
		&nbsp;
	</td>
</tr>
<tr>
	<td width="25%">
		&nbsp;
	</td>
	<td width="50%">
		<table border="0" width="100%">
			<tr>
				<td width="49%"><TMPL_VAR btnBuild></td>
				<td>&nbsp;</td>
				<td width="49%"><TMPL_VAR btnReset></td>
			</tr>
		</table>
	</td>
	<td width="25%">
		&nbsp;
	</td>
</tr>
</table>

<TMPL_VAR frmEnd>

<i><TMPL_VAR NAME=T::FOOTER.GREETING></i>
